<ion-view name="creatingEvent-view">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="padding">
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Type of Sport" ng-model="createdEvent.type">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Address" ng-model="createdEvent.location">
      </label>

      <label class="item item-input">
      <div>
      <ionic-timepicker input-obj="startTime">
        <button class="button button-clear overflowShow" style='font-size: 14px; min-height:30px; height: 34px; padding: 0 0; margin: 0 0; line-height: 16px; padding-top: 2px;'>
          <standard-time-meridian etime='timePickerObject.inputEpochTime'>Starting Time</standard-time-meridian><span ng-show='showStartTime' style='float:right'>{{displayStartTime}}</span>
        </button>
      </ionic-timepicker>
      </div>
      </label>

      <label class="item item-input">

      <div>
      <ionic-timepicker input-obj="timePickerObject">
        <button class="button button-clear overflowShow" style='font-size: 14px; min-height:30px; height: 34px; padding: 0 0; margin: 0 0; line-height: 16px; padding-top: 2px;'>
          <standard-time-meridian etime='timePickerObject.inputEpochTime'>Ending Time</standard-time-meridian><span ng-show='showEndTime' style='float:right'>{{displayEndTime}}</span>
        </button>
      </ionic-timepicker>
      </div>
      </label>

      <label class="item item-input">
        <input type="text" placeholder="Skill level" ng-model="createEvent.skillLevel">
      </label>
    </div>

    <button class="button button-block button-calm" ng-click="searchAddress()">Create this event</button>
  </ion-content>
</ion-view>
