<ion-view name="creatingEvent-view">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="padding">
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="type of sport" ng-model="createdEvent.type">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="address" ng-model="createdEvent.location">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Starting time" ng-model="createdEvent.startTime">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Ending time" ng-model="createdEvent.endTime">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Skill level" ng-model="createEvent.skillLevel">
      </label>
    </div>
    <button class="button button-block button-calm" ng-click="addEvent()">Create this event</button>
  </ion-content>
</ion-view>
