<ion-view cache-view='false' data-ng-init="init()" name="map-view" title="Map">
  <div class="list list-inset map-search">
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" placeholder="Search by sports type" ng-model="filter" ng-change="filterEvents()">
    </label>
  </div>

  <ion-content class="map-container">
    <div id="map" data-tap-disabled="true"></div>
  </ion-content>
</ion-view>

<ion-tabs>
  <ion-tab title="Map" href="#/map" ui-sref="#/map"></ion-tab>
  <ion-tab title="New Event" href="#/creatingEvent" ui-sref="#/create"></ion-tab>
  <ion-tab title="My Events" href="#/userEvents" ui-sref="#/userEvents"></ion-tab>
  <ion-tab title="Logout" href="#/logout" ui-sref="#/logout" ng-click="logout()"></ion-tab>
</ion-tabs>