<ion-tabs>
  <ion-tab title="Map" href="#/map" ui-sref="tabs.map">
    <ion-nav-view name="map-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab title="New Game" href="#/creatingEvent" ui-sref="tabs.creatingEvent">
    <ion-nav-view name="creating-event-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab title="My Games" href="#/userEvents" ui-sref="tabs.userEvents">
    <ion-nav-view name="user-events-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Logout" href="#/logout" ui-sref="#/logout" ng-click="logout()"></ion-tab>
</ion-tabs>