/* Empty. Add your own CSS if you like */
.map-container {
  bottom: 50px;
}

.scroll {
    height: 100%;
}
 
#map {
    width: 100%;
    height: 100%;
}

.userEventsButtons{
	color : red;
	float :right;
	background-color: white;
}

.eventInfo{

}

.important{
	font-weight : bold;
}

.notImportant{
	font-size: 70%;
	color : blue;
}